# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing & Coverage
/coverage
*.lcov

# Next.js Build Output
/.next/
/out/
/build
/dist

# Turbopack & Caches
.turbo
*.tsbuildinfo
next-env.d.ts
next-panic-*.log

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel
.vercel

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Secrets & Certs
*.pem
*.key
*.cert
*.crt
